[2016-04-15 20:04] robincoello opened #12 "1er test"

[2016-04-15 20:06] robincoello commented on #12
https://huboard.com/primitivorm/latino

[2016-04-15 20:23] primitivorm commented on #12
@robincoello no entiendo el error :(

[2016-04-15 20:29] robincoello commented on #12
es un test para esto
https://huboard.com/primitivorm/latino

Date: Fri, 15 Apr 2016 13:23:46 -0700
From: notifications@github.com
To: latino@noreply.github.com
CC: robincoello@hotmail.com
Subject: Re: [primitivorm/latino] 1er test (#12)

@robincoello no entiendo el error :(

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-15 20:33] primitivorm commented on #12
ok ok es como trello, cierto?

[2016-04-15 20:34] robincoello commented on #12
pero intgrado al github, lo viste que te parece?

Date: Fri, 15 Apr 2016 13:33:10 -0700
From: notifications@github.com
To: latino@noreply.github.com
CC: robincoello@hotmail.com
Subject: Re: [primitivorm/latino] 1er test (#12)

ok ok es como trello, cierto?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-16 17:23] primitivorm commented on #12
me parece muy bien hay que cambiarnos a esta plataforma :)

[2016-04-16 17:24] #12 closed, assigned to primitivorm

[2016-04-16 17:24] robincoello commented on #12
listo cambiada !

[2016-07-02 10:25] otgo opened #13 "No se como usarlo xD"
tengo un vps de ovh (linux ubuntu) y no se ni como usarlo y que linux lo arranque :dizzy_face:
quiero crear un bot de telegram en tu lenguaje y crear el repositorio de dicho bot y explicar compilarlo, me podrías explicar?

[2016-07-03 02:02] primitivorm commented on #13
Hola @jarriztg:

Para compilarlo en linux es con los siguientes comandos:
$git clone https://github.com/primitivorm/latino
$cd latino
$cmake .
$make
$sudo make install

Luego puedes correr tu script latino desde consola con:
$latino nombre_archivo.lat

O puedes correr el interprete de latino con:
$latino

Los ejemplos basicos de como usarlo los encuentras en:
https://github.com/primitivorm/latino/

[2016-07-03 08:42] otgo commented on #13
Me parece magnifico que me ayudes a implementar esto
Mira el repositorio en bash que es
http://github.com/iicc1/TgBash

Registrate en la red social Telegram
http://telegram.org

Lo que hacen los bots son funciones como buscar mapas, buscar música, compras en amazon, busquedas de google, moderar un grupo automaticamente, es una idea genial crearlo en tu lenguaje de programación ya que me gusta como

[2016-07-03 15:59] flickerapps commented on #13
Buenisima idea @jarriztg  ! Me apunto para cualquier colaboracion

[2016-07-03 22:45] otgo opened #14 "diccionarios"
root@vps273405:~# latino 24-diccionarios.lat
Error: Linea 3: error de sintaxis, ',' inesperado, se esperaba '}'

[2016-07-04 08:40] robincoello commented on #14
Puedes poner el codigo q usaste ?

[2016-07-04 11:04] otgo commented on #14
es el de fuente

[2016-07-04 13:04] aluzardo commented on #14
Este código es el que falla? https://github.com/primitivorm/latino/blob/master/ejemplos/24-diccionarios.lat

[code]

[2016-07-04 13:41] primitivorm commented on #14
@aluzardo muchas gracias por levantar el issue, estamos trabajando en la correccion

Saludos

[2016-07-04 14:23] #13 closed, assigned to nobody

[2016-07-09 23:04] #14 closed, assigned to nobody

[2016-08-08 02:26] robincoello opened #29 "incluir 'config'"
incluir "config" > ok
incluir 'config' > Error: Linea 1: syntax error, unexpected TLIT, expecting TSTRING

[2016-08-08 10:10] robincoello opened #30 "Error: Variable "sumar" indefinida > Latino 0.5.0"
sumar(10,20) > Error: Variable "sumar" indefinida

[2016-08-08 15:17] primitivorm commented on #30
Es correcto el error ya que la funcion sumar no es parte de la funciones built-in de Latino, puedes crear la funcion asi:

[code]

[2016-08-08 15:18] #30 closed, assigned to nobody

[2016-08-08 15:28] primitivorm commented on #29
se ha corregido el error por favor ver el archivo de ejemplo:
https://github.com/primitivorm/latino/blob/master/ejemplos/incluir.lat

[2016-08-08 15:28] #29 closed, assigned to nobody

[2016-08-08 17:39] robincoello commented on #30
en:  latino/src/vm.h
existe
void lat_sumar(lat_vm\* vm);

[2016-08-08 21:26] primitivorm commented on #30
@robincoello `lat_sumar` esta asociada al simbolo `+`, puedes ver el listado de funciones registradas en el metodo:
`lat_crear_maquina_virtual()`  en el archivo vm.c

[code]

Esta parte `lat_cadena_nueva(ret, "+")` es la palabra reservada para latino, es decir le estamos diciendo a la maquina virtual, registrame el simbolo + para que ejecute la funcion de c `lat_sumar`

[2016-08-15 21:48] primitivorm opened #32 "Error Pila vacia"
[code]
### Manda el siguiente error:

[code]

[2016-08-17 14:21] #32 closed, assigned to nobody

[2016-09-11 11:40] otgo opened #38 "cmd error sistema(variable)"
latino test.lat
nodo_tipo:39
nodo_tipo:39
nulo
te lo envie a telegram pero ya no estabas ahi

[2016-09-11 11:50] otgo opened #39 "variable indefinida - ubuntu 16.x.x"
root@vps273405:~# latino elegir.lat
nodo_tipo:39
Error: Linea 3, 9: Variable "latino" indefinida

chatId = '-1001051061242' #chat latino
latino = "curl  -s 'https://api.telegram.org/bot" . TOKEN . "/sendMessage?chat_id=" . chatId . "&text=hola'"
sistema(latino)

root@modrank-latinoc-3753113:/home/ubuntu/workspace/latino/ejemplos# latino 15-funciones_mate.lat
nodo_tipo:39
nodo_tipo:39
nodo_tipo:39

[2016-09-11 14:08] primitivorm commented on #38
que tienes en test.lat?

[2016-09-11 14:10] otgo commented on #38
lo del telegram bot. Reinstale y todo y nada. Y pasé a c9 a verificar si era mi sistema y nada. la misma falla

[2016-09-11 14:10] otgo commented on #38
https://github.com/primitivorm/latino/blob/master/ejemplos/26-telegram_bot.lat

[2016-09-11 14:19] otgo commented on #38
[code]

[2016-09-12 18:41] primitivorm commented on #39
se corrige en version 0.6.0

[2016-09-12 18:41] #39 closed, assigned to nobody

[2016-09-12 18:41] primitivorm commented on #38
se corrige en version 0.6.0

[2016-09-12 18:41] #38 closed, assigned to nobody

[2016-09-13 03:07] otgo opened #41 "incluir error"
latino incluir.lat
Error: Linea 4: syntax error, unexpected '(', expecting TSTRING

[2016-09-13 13:47] primitivorm commented on #41
Harry puedes bajar la ultima version por favor

incluir('modulo')   # o incluir("modulo")
r = sumatoria(2, 3)
escribir(r)

[2016-09-13 13:47] #41 closed, assigned to nobody

[2016-09-13 13:51] otgo commented on #41
@primitivorm Aun me tira esa falla

[2016-09-17 03:31] CestDiego opened #43 "Cambio de nombre"
Gracias por esto, estoy pensando en hacer mi propio lenguaje de programación también. Y leer su código es de gran ayuda.

Tengo una recomendación,  y es que si se podría cambiarse el nombre a latin@ o latinx? Para ser inclusivo en género, hay mucho esfuerzo para que ambos géneros se puedan sentir incluidos en la profesión del desarrollo de software, y creo que hacer el nombre del lenguaje menos ma

[2016-09-17 03:39] otgo commented on #43
@CestDiego Latino está protegido con derechos de copia. No puede ser copiado el código al 100 ya que este lenguaje fué escrito a derechos propios (primitivo) y no puede ser para uso financieros o propios. Te recomendaría mejor ayudarnos al proyecto y como vas ayudando podríamos ver si pasarte a que seas parte del proyecto ya que Programación Latino busca contribuidores en el código. Linda noche.

[2016-09-17 03:44] otgo commented on #43
y el código a que te refieres con género? el nombre es referido al nombre de la programación y es general.

[2016-09-17 12:27] robincoello commented on #43
Es interesante, eres la tercer persona que desea cambiarle en nombre a "Latino", La primera fue por que decia que si usamos la palabra "Latino" los españoles no lo usaria, la segunda fue que "Latino" es una palabra que no tiene nada que ver con la programación, y ahora que es excluyente al genero femenino.

A este ritmo esperamos en un futuro más argumentos por los cuales deberíamos cambiar el nom

[2016-09-17 12:43] otgo commented on #43
Bien dicho @robincoello . Latino no hace referencia a un género en particular. La gente usa aquí la palabra como "yo hablo Latino", "Mi lenguaje es español Latino" lo cúal no es referente al tipo de género de cada persona. Cambiarle el nombre, lo veo de una manera un poco extraña por ahora y se necesitarán aún más argumentos para que dicho cambio de efectivo. ¿Por qué no unirse? Un proyecto unidos

[2016-09-17 13:23] otgo commented on #43
https://github.com/jarriztg/LatinoBot

[2016-09-17 13:29] CestDiego commented on #43
Muchas gracias por sus prontas respuestas. Quisiera aclarar que no planeaba
contribuir a 'latino'  primero,  siento que mi nivel de C y de como crear
lenguajes de programación es muy pequeño. Estoy viendo cursos en internet
de la. Universidad de Brown para aprender este tipo de cosas. Y estoy
haciendo mi lenguaje de programación solo para aprender. Y creo que será
muy diferente a latino. En que se

[2016-09-17 14:00] robincoello commented on #43
@jarriztg : sobre lo que dices

Debo aclarar que la [licencia](https://github.com/primitivorm/latino/blob/master/LICENCIA.txt) bajo la cual esta "Latino " dice:

Se concede permiso, de forma gratuita, a cualquier persona que obtenga una copia
de este software y archivos de documentacion asociados (el "Software"), para hacer frente
el Software sin restriccion, incluyendo sin limitacion, los derecho

[2016-09-17 20:01] CestDiego commented on #43
Si pues eso me pareci'o raro, porque la licencia del MIT es la menos permisivas de todas, así que cualquier persona podría utilizarlos al 100 para cualquier propósito, incluso comercial por un lado (incluyendo el código fuente sólo de latino y tmb incluyendo su licencia), o hacerlo más restrictivo con una licencia GPL para que ya no pueda ser usado comercialmente sin exponer el código fuente

[2016-09-18 22:50] #43 closed, assigned to primitivorm

[2016-09-26 08:18] robincoello opened #44 "erro comentario"
correjido

[2016-09-26 08:45] robincoello opened #45 "texto[1+1]"
texto = 'Latino'
escribir(texto[1+1])

Error: Linea 2, 17: syntax error, unexpected '+', expecting ']'

[2016-09-26 10:01] #44 closed, assigned to nobody

[2016-09-26 14:15] primitivorm commented on #45
hola @robincoello, no se permiten expresiones entre "[" y "]":

texto = 'Latino'
escribir(texto[2])   #esto te deberia de funcionar

[2016-09-26 14:15] #45 closed, assigned to nobody

[2016-09-26 14:28] robincoello commented on #45
ok

[2016-09-27 11:53] robincoello opened #46 "es_numerico()"
n = "1abcdfgytypoipiklkjlmkj"
si(es_numerico(n))
    escribir("Es numero")
sino
    escribir("No es")
fin
// da
Es numero

Esta funcion deberia comparar si todos los caracteres de la cadena son numeros arrojar verdadero si hay un solo que no es numero deberia dar falso

[2016-09-27 14:58] primitivorm commented on #46
@robincoello

Listo, ya esta funcionando por favor instala la version 0.8.1 de latino

Saludos

[2016-09-27 14:58] #46 closed, assigned to nobody

[2016-09-28 12:27] robincoello opened #47 "sugerencia"
agregar()

si agrega que retorne un valor buleano de verdadero caso contrario falso asi podemos controlar si se efectuo la accion

[2016-10-03 03:04] otgo commented on #47
a que te refieres precisamente?

[2016-10-05 16:24] primitivorm commented on #47
@robincoello, si no se inserta simplemente manda un error.

[2016-10-05 16:24] #47 closed, assigned to nobody

[2016-10-12 12:59] robincoello opened #50 "incluir"
si tengo un archivo funciones.lat y deseo incluirlo en mi demo.lat hago
incluir('funciones.lat')
pero si cometo un error y escribo
incluir('funcioneeeeeeeeees.lat')
no le da ningun error

[2016-10-12 19:27] robincoello opened #51 "longitud()"
c1 = 10
escribir(longitud(c1))

debia darme 2 pero dio

Erreur de segmentation (core dumped)

[2016-10-12 19:49] robincoello opened #52 "incluir()"
si tengo un error en un archivo a.lat el cual esta incluido en otro b.lat y ejecuto el b.lat me sale el error

[user@localhost latino-Markdown]$ latino b.lat
Error: Linea 1, 11: syntax error, unexpected $end, expecting ')'
Erreur de segmentation (core dumped)

Pero no me dice si el error esta en a.lat o b.lat y un huevo si tengo varias incluciones jejeje

[2016-10-13 17:26] primitivorm commented on #52
corregido en version 0.8.11

[2016-10-13 17:26] #52 closed, assigned to nobody

[2016-10-13 17:26] primitivorm commented on #51
corregido en version 0.8.11

[2016-10-13 17:26] #51 closed, assigned to nobody

[2016-10-13 17:26] primitivorm commented on #50
corregido en version 0.8.11

[2016-10-13 17:26] #50 closed, assigned to nobody

[2016-10-13 22:00] robincoello opened #57 "a = leer_lineas('datos.lat')"
datos.lat tiene
a
b
c
d
f
index.lat
a = leer_lineas('datos.lat')
escribir(a)

Resultado
["a", "b", "c", "d"]

Asi que no me lee la ultima linea, pero si le agrego una linea vacia al fichero datos.lat, si me entrega todos los datos,

[2016-10-14 09:29] robincoello opened #58 "separar"
si tengo datos.lat
una
dos
tres cuatro
 y en index.lat ejecuto esto:
frase = leer_archivo('datos.lat')
a = separar(frase)
escribir(longitud(a))
escribir(a)
------Resultado------------------------------------
2
["una
dos
## tres", "cuatr"]

Deberia tomar en cuenta el salto de linea para la separacion de las palabras?
la ultima letra de la ultima palabra desaparecio

[2016-10-14 10:15] robincoello opened #60 "travesuras"
escribir(escribir('aa'))
Erreur de segmentation (core dumped)

[2016-10-14 15:38] primitivorm commented on #58
hola en este caso cuando no le pasas valor a la funcion separar por default lo separa por espacios, y un espacio " " no es lo mismo que salto de linea "\n". Si se deja la funcion que separe por espacios y salto de linea ya no le estamos dejando la opcion al usuario de elegir.
Para obtener el resultado que deseas primero obtener las lineas del archivo con la funcion leer_lineas y luego por cada lin

[2016-10-14 15:38] #58 closed, assigned to nobody

[2016-10-14 15:44] primitivorm commented on #57
Puedes hacer git pull por favor y compilar nuevamente

A mi no me da ese caso:
$cat datos.lat
a
b
c
d
f
./latino index.lat
["a", "b", "c", "d", "f"]

[2016-10-14 15:44] #57 closed, assigned to nobody

[2016-10-14 16:01] #60 closed, assigned to nobody

[2016-10-15 17:07] robincoello opened #63 "si creo dos fuciones con el mismo nombre no da error"
funcion max()

fin

funcion max()

fin

[2016-10-15 17:29] robincoello opened #64 "reconfiguracion de hacer"
Me parece mas adecuado asi

nombre = ''
i = 1
hacer
    nombre .= texto[i]
    i++
mientras (i < 10)
escribir(nombre)

osea la palabra 'mientras' en lugar de la 'cuando' tiene mas sentido en el conexto

[2016-10-15 20:39] robincoello opened #65 "es_numerico"
n = falso
si(es_numerico(n))
    escribir('Si')
sino
    escribir('No')
fin
da
 Error: Linea 3, 14: El parametro debe de ser una cadena en archivo '/var/www/html/latino-Markdown/d.lat'.

deberia poder recibir cualquier tipo de parametro en vista que va a verificar si es numero

[2016-10-15 20:42] otgo commented on #65
@robincoello Intentaste con un valor que no sea tipo booleano?

[2016-10-15 20:46] robincoello commented on #65
otro que no sea boleano ok

[2016-10-15 20:53] otgo commented on #65
@robincoello El error que dice más o menos es que el valor tiene que ser de tipo cadena ó númerico

[2016-10-15 20:58] otgo commented on #65
@jarriztg Puedes ponerlo como:
a = verdadero
b = 2
si (a) && (es_numerico(b))
     imprimir(b." es un valor númerico")
sino
    imprimir(b. "no es un valor númerico")
fin

[2016-10-15 20:58] robincoello commented on #65
asi es, deberia poder recibir todo tipo de dato para analizarlo, y dar resultado verdadero si es numero falso si no lo es

[2016-10-15 20:59] otgo commented on #65
@robincoello Si tienes razón, igual y podrias usar la otra forma de a mientras

[2016-10-15 21:08] robincoello opened #66 "esta_vacia"
n = falso
si(esta_vacia(n))
    escribir('Si')
sino
    escribir('No')
fin
da error
 Error: Linea 3, 15: El parametro debe de ser una cadena en archivo '/var/www/html/latino-Markdown/d.lat'.
 en este caso la 'n' vale falso asi que 'n' no esta vacia

[2016-10-16 03:47] primitivorm commented on #66
@robincoello la función es para validar si una cadena esta vacia, no para tipos de datos booleanos, una variable tipo booleano siempre va a ser verdadero o falso.

[2016-10-16 03:47] #66 closed, assigned to nobody

[2016-10-16 03:51] primitivorm commented on #65
@robincoello la función es_numerico es para validar si un texto (cadena) es numérico es decir que solo contiene números ya sean enteros o decimales. Si le pasas otro tipo de dato te dará error, los errores sirven para que el programador cambien si lógica de lo que está validando esta mal.

[2016-10-16 03:51] #65 closed, assigned to nobody

[2016-10-16 11:17] robincoello commented on #66
**esta_vacia()** hace pensar que evalua una variable, ahora una variable puede ser de cualquier tipo, si esta variable tiene un valor asigando esta llena caso contrario esta vacia,
n = '' > esta vacia
n = falso > no esta vacia
n = nulo > no esta vacia
n = 'Hola' no esta vacia

[2016-10-16 14:31] primitivorm commented on #66
en latino no pueden crearse variable vacias, todas deben de tener un valor asignado al momento de crearlas.
si pones esto en latino, te mandara error:
variable
otra_variable
x
y

[2016-10-16 14:45] robincoello commented on #66
y si pones
n= ''
Esta vacia  esta llena?

[2016-10-16 14:48] otgo commented on #66
@robincoello Esa queda inválida
si n
 #código
fin

Y puedes ponerlo como si falta valor

si ! n
  #codigo
fin

Las vacías y valores falsos los toma como falsos (a ambos)

[2016-10-17 07:11] otgo commented on #63
En cualquier lenguaje de programación no marca error ni debería, si no que se le asigna de nuevo la función que dará ese script, por ejemplo:

Tengo mi función llamada "seleccionar"

El código es el siguiente:

[code]

Si en cualquier momento quiero reasignar función para tener más o menos parametros tendré que volverla a hacer:

[code]

Quedandó si ponemos la primera función el retorno así:

[cod

[2016-10-17 07:12] #63 closed, assigned to nobody

[2016-10-17 07:21] otgo commented on #63
dejaré un ejemplo en la sección de ejemplos

[2016-10-17 14:49] primitivorm commented on #64
@robincoello, por limitantes de bison no se puede hacer ese cambio, lo mas que se podria hacer es cambiarlo por la forma repeat:

i = 0
repetir
  escribir(i)
  i++
hasta i < 10

En lua existe asi:
-- https://www.lua.org/pil/4.3.3.html
-- print the first non-empty line
    repeat
      line = os.read()
    until line ~= ""
    print(line)

[2016-10-30 12:30] otgo opened #76 "Error en ejecutar"
¿Que hace?

[code]

[2016-11-12 22:36] primitivorm commented on #76
Se corrige en version Latino 0.9.0

[2016-11-12 22:36] #76 closed, assigned to nobody

[2016-11-12 22:36] primitivorm commented on #64
Se corrige en version Latino 0.9.0
ver ejemplos/07-repetir.lat

[2016-11-12 22:36] #64 closed, assigned to nobody

[2016-11-13 15:49] robincoello opened #82 "funcion verificar_año(a)"
Error: Linea 3, 22: syntax error, unexpected IDENTIFICADOR, expecting '(' en archivo 'inicio.lat'.

[2016-11-13 15:57] robincoello opened #83 "error al incluir"
tengo dos ficheros
index.lat
funciones.lat
-------------------
en index
incluir("funciones")
escribir('Dame un año')
a = leer()
verificar_a(a)
***********
en funciones
funcion verificar_a(a)
    mientras ( a == 0 )
        escribir("Debe ser diferente a cero")
        a = leer()
    fin
fin
---------------------------
al ejecutar index
[roencosa@localhost latino-ejemplos]$ latino inicio.lat
Dame u

[2016-11-13 16:09] otgo commented on #83
Sip, acabo de verificar y no funciona sin el módulo declarado

[2016-11-13 16:13] robincoello opened #84 "mientras dentro de una funcion"
si pongo esto en un fichero y ejecuto me repetira mientras no le de un valor y este sea diferente a cero,
    mientras ( a == 0 || a == nulo )
        escribir("Debe ser diferente a cero")
        a = leer()
    fin

Pero, si le pongo esto en una funcion

funcion verificar_a(a)
    mientras ( a == 0  || a == nulo )
        escribir("Debe ser diferente a cero")
        a = leer()
    fin
fin
y desp

[2016-11-13 16:50] robincoello opened #85 "extructura > error"
// supongo q no esta implemntada, si es el caso talvez se pueda analizar para implemtar,
// o es un error ?

Me da este error:
 Error: Linea 6, 9: syntax error, unexpected CASO en archivo 'd.lat'.

escribir('Dame un mes')
m = leer()
elegir(m)
        caso 1: // meses de 31 dias
        caso 3:
        caso 5:
        caso 7:
        caso 10:
        caso 12:
            escribir("mes de 31 dias")

[2016-11-13 17:13] robincoello commented on #85
quiero que en estos casos
caso 1: // meses de 31 dias
caso 3:
caso 5:
caso 7:
caso 10:
caso 12:
escribir("mes de 31 dias")

se ejecuta el codigo x
y asi en los otros caso

[2016-11-14 16:11] primitivorm commented on #84
Puedes verificar con la version 0.9.0 de latino por favor

[code]

[2016-11-14 16:15] primitivorm commented on #83
Por favor revisa los ejemplos/modulo.lat y ejemplos/33-incluir.lat. Ahora debes de asignar el valor de incluir a una variable:
`mod = incluir("modulo")`

[code]

[code]

[2016-11-14 16:16] primitivorm commented on #82
Por favor revisa los ejemplos/modulo.lat y ejemplos/33-incluir.lat. Ahora debes de asignar el valor de incluir a una variable:
mod = incluir("modulo")

[2016-11-14 16:20] primitivorm commented on #85
No se tiene esta funcionalidad en latino, se debe de incluir codigo por cada caso:
Para este ejemplo podrias utilizar "si" "osi" se reduciria mucho tu codigo:

[code]

[2016-11-14 23:15] primitivorm commented on #83
se corrige funcion incluir para admitir ambas versiones, actualizar con $git pull

[code]

[code]

[2016-11-14 23:15] #83 closed, assigned to nobody

[2016-11-14 23:15] #82 closed, assigned to nobody

[2016-11-14 23:15] #84 closed, assigned to nobody

[2016-11-14 23:16] #85 closed, assigned to nobody

[2016-11-15 05:27] robincoello commented on #83
Voila una buena idea !

[2016-11-16 12:08] robincoello opened #86 "version 0.9.0"
contenido = "prueba de escritura de archivo \n desde Latino"
escribir_archivo("prueba.txt", contenido)
 Error: Linea 2, 1: Variable "escribir_archivo" indefinida en archivo 'd.lat'.
[user@localhost latino-ejemplos]$

[2016-11-16 12:59] primitivorm commented on #86
Con la creación de módulos esa función quedó de la siguiente manera.

archivo->escribir("prueba.txt", contenido)

Por favor revisa los ejemplos

[2016-11-16 12:59] #86 closed, assigned to nobody

[2016-11-16 13:40] robincoello commented on #86
Yo vi aca para usarlo [☹]

https://github.com/primitivorm/latino/blob/master/ejemplos/10-funciones.lat

---

From: Primitivo R. Montero notifications@github.com
Sent: 16 November 2016 07:59
To: primitivorm/latino
Cc: Robinson Coello; Author
Subject: Re: [primitivorm/latino] version 0.9.0 (#86)

Con la creación de módulos esa función quedó de la siguiente manera.

archivo->escribir("prueba.txt", co

[2016-11-16 14:36] primitivorm commented on #86
No entiendo tu duda Robinsón, podrías ser más específico

"Yo vi aca para usarlo [☹]"

[2016-11-19 02:19] otgo opened #89 "Errores encontrados en cadena"
1. cadena->invertir() // error core
2. cadena->es_alfanumerico() // no detecta que sea alfanúmerico
3- cadena->ejecutar() // probé con escribir y dió error
4- cadena->indice // error core
5- cadena->reemplazar() // simplemente no reemplaza

[2016-11-19 19:48] primitivorm commented on #89
Sería de gran ayuda que pusieras un ejemplo de cada uno de los casos para analizar qué está faltando y esta mal, por lo pronto revisare que está pasando muchas gracias :)

[2016-11-19 23:16] primitivorm commented on #89
se corrige funcion invertir y se cambia funcion es_alfanumerico por es_alfa
Las demas funciones corren OK.
ejemplos:

[code]

hacer git pull para actualizar version...

[2016-11-19 23:16] #89 closed, assigned to nobody

[2017-01-05 03:20] rootmeanclaire opened #91 "Añadir instruciones de installación para Windows"
Los que quieren usar latino para educación probablemente no usan Linux.

[2017-01-05 03:29] otgo commented on #91
@FracturedRetina No es nada dificil, solamente es descargar el exe en releases e instalarlo, y claro que se puede usar Latino en Linux, y yo lo recomendaría ya que corre mejor en Linux y su perfomance es mucho mayor.

[2017-01-07 20:54] otgo opened #92 "error al incluir con retorno"
test.lat:
[code]

x.lat:
[code]

ERROR:
Error: Linea 4, 36: Variable "test" indefinida en archivo '/home/jarriz/test.lat'.

[2017-01-07 22:21] otgo opened #93 "La lista se duplica en bucle, sigue aumentando y los elementos se siguen duplicando"
test.lat:
[code]

Devolución:
2
4
6
8
10
12

Eso pasa debido a las listas, algún error las sigue multiplicando ya que al convertir con cadena, los elementos se siguen multiplicando

[2017-01-07 23:29] otgo opened #94 "recomendación para listas"
[code]

[2017-01-08 07:07] otgo opened #95 "convierte listas a cadenas en bucle"
[code]

logs:
Confirmación enviada a 189041244.
Bot @BetaLatinoBot
lista <-- indica que es lista
lista <-- indica que es lista
cadena  <-- ahora indica que es cadena??
 Error: Linea 67, 28: El parametro debe de ser una lista en archivo '/home/jarriz/BotGram/plugins/test.lat'.

[2017-01-09 15:17] primitivorm commented on #95
Puedes poner que contiene tu variable config->plugins y que trae tu valor `res`
imprimir(tipo(res))
imprimir(res)   <-- agrega esta linea a tu codigo para debuguear el valor

[2017-01-09 15:22] primitivorm commented on #92
esto es por que test es local al modulo `test.lat` como estas ejecutando la funcion  `v` desde fuera tendras que retornarla para que se vuelva global.
[code]

[2017-01-10 04:38] primitivorm commented on #93
se corrige error #93

[2017-01-10 04:38] #93 closed, assigned to nobody

[2017-01-10 04:39] #92 closed, assigned to nobody

[2017-01-10 04:42] otgo opened #97 "reemplazar"
hola = "$id$usuario$titulo"
b = cadena->reemplazar(hola, "$id", "123")
imprimir(b)

[2017-01-10 15:48] #97 closed, assigned to nobody

[2017-01-10 15:48] #95 closed, assigned to nobody

[2017-01-10 15:50] primitivorm commented on #91
Las instrucciones estan en el README.md, se instala como cualquier otra aplicacion en Windows

###Instalar en Windows

    1. Descargue el instalador de la última version de https://github.com/primitivorm/latino/releases
    2. Descompima el archivo zip
    3. Ejecute el instalador

[2017-01-10 15:50] #91 closed, assigned to nobody

[2017-01-10 19:30] jordanclic commented on #94
**Listas**

**Palabras clave**

[2017-01-12 07:21] otgo opened #98 "Memory corruption malloc en reemplazar"
test:

[code]

Aquí el backtrace:
[code]

[2017-01-13 20:14] primitivorm commented on #98
se corrige funcion cadena->reemplazar :)

[2017-01-13 20:14] #98 closed, assigned to nobody

[2017-01-19 08:30] otgo opened #100 "error de matches"
Le probé quitando el len == 0 que mande nulo y mira lo que pasa al hacer esto:

latino> cadena.match("vdsv", "(.*)")
[["vdsv", "vdsv"], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["", ""], ["",

[2017-01-19 19:39] primitivorm commented on #100
se corrige error en matches

[2017-01-19 19:39] #100 closed, assigned to nobody

[2017-01-24 04:43] otgo opened #101 "error en cadena.longitud dentro del bucle desde"
ejemplo:
[code]

jarriz@jarriz:~/latino$ latino test.lat
error Linea 0, 0: El parametro debe de ser una cadena en archivo test.lat.

[2017-01-24 15:58] primitivorm commented on #101
te falta poner que formato quieres imprimir "%s":
[code]

[2017-01-24 15:58] #101 closed, assigned to nobody

[2017-01-24 15:59] otgo commented on #101
@primitivorm era esto

[2017-01-25 07:26] otgo opened #102 "error Linea 5, 16: error de sintaxis, ',' inesperado en archivo test.lat."
[code]

[2017-01-25 15:19] primitivorm commented on #102
@jarriztg :

Para devolver mas de un valor en una funcion, puedes usar una lista. Solo cambia '(' por '['

 funcion leche(a)
   si a
     retornar "ok"
   fin
   retornar [falso, "test"]
 fin

 imprimir(leche())

[2017-01-25 15:19] #102 closed, assigned to nobody

[2017-01-27 14:22] otgo opened #103 "Error en ..= al concatenar"
[code]

[2017-01-27 17:13] primitivorm commented on #103
corregido :)

[2017-01-27 17:13] #103 closed, assigned to nobody

[2017-01-30 21:27] otgo opened #104 "Error en memoria"
[code]

[2017-01-30 23:16] primitivorm commented on #104
se corrige referencia circular en listas (arreglos) y diccionarios

[2017-01-30 23:16] #104 closed, assigned to nobody

[2017-02-19 08:41] otgo opened #109 "Añadir definición de error"
<b>Código en donde ocurre</b>:
[code]

Error:
Violación de segmento

[2017-02-20 20:14] #109 closed, assigned to nobody

[2017-03-02 23:01] otgo opened #112 "Recomendación de funciones con diccionarios"
Uso funcional:
[code]

Poder usarlo directamente en funciones es mi recomendación:
[code]

[2017-04-17 09:09] otgo opened #113 "Error al intentar usar una cadena u otro valor como función"
No sé si lleve alguna liberación de memoria despúes y eso lo impida:
[code]

[2017-04-17 09:17] MelvinG24 commented on #113
Si lo que quieres hacer es crear una variable llamada **Hola** con un valor de texto en este caso **Hola** por igual, lo que tienes que hacer es poner el comando "escribir(variable)" asi escribir(hola)

aqui un ejemplo, la variable se llamara mensaje

mensaje = "Hola Mundo"
escribir (mensaje)

[2017-04-23 00:17] akercheval opened #114 "Poner, no imprimir ni escribir"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2017-04-23 01:08] otgo commented on #114
Claro, no te preocupes, será añadida nuevamente la función escribir en la próxima versión, más tardar podría salir el otro domingo.

Acerca de la variable `poner()` es por la palabra de `stdio.h` de C, la cúal es `puts()`.

[2017-04-23 04:14] otgo commented on #114
Se me olvidó comentar, si quieres ser parte del proyecto te invito a guiarte en las lineas de estandares de programación:
https://github.com/primitivorm/latino/blob/master/CONTRIBUTING.md

Cualquier desarrollador es bienvenido a Latino :)

[2017-06-26 21:54] primitivorm commented on #114
se agrega nuevamente las funciones imprimir y escribir en la version 1.0
https://github.com/primitivorm/latino/releases/tag/v1.0

[2017-06-26 21:54] #114 closed, assigned to nobody

[2017-06-26 21:55] primitivorm commented on #113
se corrige en la version 1.0 de latino:
https://github.com/primitivorm/latino/releases/tag/v1.0

[2017-06-26 21:55] #113 closed, assigned to nobody

[2017-09-14 16:11] ingSinTitulo opened #116 "Cambio de palabra "retorno" a "regresar""
<i>Sugerencia para Latino</i>.

Se recomienda adoptar la palabra "regresar", debido a que refleja mejor lo que hace esa orden.

[2017-09-15 01:29] jordanclic commented on #116
La palabra retorno tiene el mismo significado que return, estaría bien conservar la nomenclatura para poder facilitar el aprendizaje de otros lenguajes.

[2017-09-18 16:01] #116 closed, assigned to nobody

[2017-10-07 19:13] robincoello opened #117 "ent + dec"
En
https://github.com/primitivorm/latino/blob/master/ejemplos/04-expresiones.lat

entero + decimal da entero
En los ejemplos dice
ent + dec = dec
Talvez es un error, o es asi ?

[2017-10-08 19:31] primitivorm commented on #117
En que caso te da `entero + decimal da entero`?
Estoy corriendo el script y corre perfecto

[2017-10-08 20:23] robincoello commented on #117
te paso el resultado de la ejecucion de, como veras la linea dos deberia dar 11.05, pero solo da 11, etc etc

https://github.com/primitivorm/latino/blob/master/ejemplos/04-expresiones.lat

############## suma ###############
2
11 #a 1 se le suma 10.05 da como resultado 11.05, etc etc
11
20
############## resta ###############
2
-9
9
10
############## multiplicacion ###############
1
10
10
0
######

[2017-10-08 20:45] primitivorm commented on #117
Hola Robinson al parecer es el idioma de tu equipo, deberia de estar en español, si tienes otro idioma configurado te recomiendo que descomentes las siguientes lineas del archivo latino.c, se encuentran en el main.

    // setlocale(LC_NUMERIC, "es_MX");
    // setlocale(LC_MONETARY, "es_MX");

Recompilas por favor y me comentas

podrias por favor poner la salida del siguiente comando para estar s

[2017-10-08 20:49] robincoello commented on #117
voila
[robin@localhost .ssh]$ locale
LANG=fr_BE.UTF-8
LC_CTYPE="fr_BE.UTF-8"
LC_NUMERIC="fr_BE.UTF-8"
LC_TIME="fr_BE.UTF-8"
LC_COLLATE="fr_BE.UTF-8"
LC_MONETARY="fr_BE.UTF-8"
LC_MESSAGES="fr_BE.UTF-8"
LC_PAPER="fr_BE.UTF-8"
LC_NAME="fr_BE.UTF-8"
LC_ADDRESS="fr_BE.UTF-8"
LC_TELEPHONE="fr_BE.UTF-8"
LC_MEASUREMENT="fr_BE.UTF-8"
LC_IDENTIFICATION="fr_BE.UTF-8"
LC_ALL=
[robin@localhost .ssh]$

[2017-10-08 20:55] robincoello commented on #117
Listo,
descomentando

[code]
ahora un

[code]

me da el resultado esperado

[robin@localhost latino]$ latino ejemplos/04-expresiones.lat
############## suma ###############
2
11.05
11.05
20.1
############## resta ###############
2
-9.050000000000001
9.050000000000001
10
############## multiplicacion ###############
1
10.05
10.05
5.025
############## division ###############
1
0.09950248756218905
1

[2017-10-08 21:08] primitivorm commented on #117
De nada 😃

[2017-10-08 21:08] #117 closed, assigned to nobody

[2017-10-15 17:14] #94 closed, assigned to nobody

[2017-10-15 17:14] #112 closed, assigned to nobody

[2019-06-22 10:06] otgo opened #124 "poner(diccionario.nulo)"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2019-06-22 10:15] otgo opened #125 "Operador u #array #string"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2019-06-22 10:33] otgo opened #126 "Error al obtener tamaño lista"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2019-06-22 10:42] otgo opened #127 "Añadir diccionario.funcion()"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2019-06-22 10:45] otgo opened #128 "Devolver error al usar: global diccionario.variable = xx"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2019-06-22 17:10] primitivorm commented on #126
cambialo por:
desde (i=0; i<datos.manzanas.colores.longitud(); i++)
   //  poner("Color "..i..": "..datos.manzanas.colores[i])
   poner(i)
fin

[2019-06-22 17:10] #126 closed, assigned to nobody

[2020-05-01 19:34] JRXYZ opened #133 "REPL: 512:7666008"
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-05-01 19:35] JRXYZ commented on #133
Buenas quisiera saber a que se debe este error.

![image](https://user-images.githubusercontent.com/8475565/80835736-fcd0b100-8bb8-11ea-9d93-e7d9d22da530.png)

[2020-06-21 22:15] StunxFS commented on #133
Creo que este repositorio ya no recibe actualizaciones, pero este sí: https://github.com/MelvinG24/Latino.
Latino ya va por la versión 1.2.0

[2020-06-24 04:41] MelvinG24 commented on #133
@JRXYZ, como dice @StunxFS , ese error ya fue solucionado en la nueva version de Latino 1.2.0.
Dicho lo anterior, procederé a cerrar este issue

[2020-06-24 04:41] #133 closed, assigned to MelvinG24

[2020-07-08 19:41] MelvinG24 commented on #127
@otgo
¿podrías dar otro ejemplo del código que propones?

Los diccionarios en latino pueden almacenar métodos, aquí te paso la documentación:
https://manual-latino.readthedocs.io/es/latest/sintaxis/Diccionarios.html#metodos-de-un-diccionario

¿No se si es a esto a lo que te refieres?

[2020-07-08 19:45] MelvinG24 commented on #125
@otgo
¿No se si te referiras a esto?

[2020-07-08 19:49] MelvinG24 commented on #124
@otgo
¿Te refieres a hacer algo así?

[2020-07-08 20:04] MelvinG24 commented on #128
@otgo
¿Cual versión de latino usaste para ese ejemplo?

Estoy utilizando la versión de latino 1.2.0 y me funciona, aquí una captura de pantalla:

![global](https://user-images.githubusercontent.com/23342477/86964785-9e81fa80-c134-11ea-8839-2da8c4ed689f.png)

[2020-07-09 05:44] MelvinG24 opened #140 "Comando Romper no funciona"
De una breve descripción del error que le ocurre.
**El comando romper no funciona y emite un error en latino**

Si aplica, proporcione una captura de pantalla del error que le ocurre.

 - OS: Windows 7, MacOSX Leon, Ubuntu 18
 - Versión de Latino 1.2.0

Agregue cualquier otra información adicional sobre su problema.

Si aplica, proporcione  el fragmento de código del cual Latino hace error

[code]

[2020-07-09 05:55] MelvinG24 opened #141 "Error en comando imprimirf()"
## De una breve descripción del error que le ocurre.
* En Windows el comando **imprimirf** hace que latino produsca un error y hace que latino se cierre
* En Mac y Linux el mensaje no se puestra hasta sino volver a escribir el mismo mensaje por segunda vez.

### Si aplica, proporcione una captura de pantalla del error que le ocurre.

 - OS: Windows 7, MacOSX Leon, Ubuntu 18
 - Versión de Latino 1.

[2020-07-09 06:03] MelvinG24 opened #142 "Función Con (With)"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Esta función llamada *CON* funcionara igual que la función *WITH* de Visual Basic 6

<b>Código en donde ocurre</b>:
[code]

[2020-07-19 23:18] MelvinG24 opened #143 "Error con comillas simples"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-07-19 23:25] MelvinG24 opened #144 "Agregar valores hexadecimales"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-09 14:55] MelvinG24 opened #145 "Error al incluir("modulo") en macOS, solo permite librerías."
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-11 03:51] MelvinG24 commented on #145
error solucionado

[2020-08-11 03:51] #145 closed, assigned to MelvinG24

[2020-08-15 02:05] MelvinG24 opened #147 "Problema con comando "sis.usuario()""
### Reportando bug
`no escribir en esta area y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-15 02:12] #147 closed, assigned to MelvinG24

[2020-08-15 14:25] #143 closed, assigned to MelvinG24

[2020-08-15 20:27] #141 closed, assigned to MelvinG24

[2020-08-16 01:39] MelvinG24 opened #148 "Comando "error()" no funciona en MS-Windows"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [x] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-16 05:50] #148 closed, assigned to MelvinG24

[2020-08-16 17:32] MelvinG24 opened #149 "Agregar comando "continuar""
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-16 17:46] MelvinG24 opened #150 "Agregar comando "ir" (goto)"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-18 03:18] MelvinG24 opened #151 "archivo.renombrar() no funciona"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-18 06:00] StunxFS opened #152 "Manejo de referencias"
¡Hola :D!
Me gustaría que las referencias se implementasen en Latino. Esto se podría hacer implementando un keyword (palabra reservada)  como el ``ref`` de C#.

Ejemplo:
[code]

En Latino sería algo así:
[code]
¿Qué tal?

[2020-08-18 15:23] MelvinG24 commented on #141
El problema fue corregido en la version de Latino 1.2.4 (disponible en el branch "Dev")

Comment: 019a7ab902203ceecc465df8341601aae6874995

[2020-08-18 15:26] MelvinG24 commented on #143
El problema se a corregido en la versión de Latino 1.2.3 (disponible en el branch "Dev")

Comment: eba5d135e44db0a2e4b0e58a7e88ae77aec6c090

[2020-08-18 15:31] MelvinG24 commented on #145
El error fue corregido en la versión de Latino 1.2.1 (Disponible en el branch "Dev")

Comment: 49bb9cd1ea0ba223599fef853d5059544ac35e47

[2020-08-18 15:32] MelvinG24 commented on #147
El error fue solucionado en la versión de Latino 1.2.1 (Disponible en el branch "Dev")

Comment: 49bb9cd1ea0ba223599fef853d5059544ac35e47

[2020-08-18 15:33] MelvinG24 commented on #148
El error fue solucionado en la versión de Latino 1.2.5 (Disponible en el branch "Dev")

Comment: 4bf8264630804381dc3a01d044ee714917f0d235

[2020-08-23 18:56] StunxFS commented on #124
Yo creo que se refiere a un diccionario vacío

[2020-08-26 16:24] MelvinG24 commented on #124
Si se puede crear un diccionario vacio en Latino, aquí un ejemplo:

[code]

Ahora bien, si lo que se quiere es crear un diccionario con una propiedad llamada **nulo**, entonces ahi si que no se puede, ya que **nulo** es una palabra reservada.

[2020-08-27 04:53] MelvinG24 opened #153 "Comando **sis.iraxy( )** no funciona en MS-Windows"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-27 05:01] MelvinG24 commented on #153
El error fue solucionado en la versión de Latino 1.2.6 (Disponible en el branch "Dev")

Comment: 4d39e8a72825909c0dd9e314d143b17968424ef8

[2020-08-27 05:02] #153 closed, assigned to MelvinG24

[2020-08-28 01:23] MelvinG24 opened #154 "Expandir la librería **mate** en Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-30 05:33] MelvinG24 opened #155 "cadena.ejecutar()"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-30 17:24] MelvinG24 opened #156 "error de memoria con **cadena.recortar()**"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-30 17:34] MelvinG24 opened #157 "Error de argumentos en el comando **cadena.reemplazar( )**"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-08-30 18:08] MelvinG24 opened #158 "longitud de cadena en **cadena.rellenar_Iz y Der**"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-09-07 01:06] MelvinG24 opened #159 "Error en Windows **archivo.renombrar()**"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.

[2020-09-07 01:07] MelvinG24 commented on #159
El error fue solucionado (solo en UNIX) en la versión de Latino 1.2.7 (Disponible en el branch "Dev")

Comment: d087f42acb3d7244a7368a90d51f2f3f5b8519be

[2020-09-07 01:09] MelvinG24 commented on #151
El error fue solucionado (solo en UNIX) en la versión de Latino 1.2.7 (Disponible en el branch "Dev")

Comment: d087f42acb3d7244a7368a90d51f2f3f5b8519be

[2020-09-07 01:10] #151 closed, assigned to MelvinG24

[2020-10-04 15:54] MelvinG24 commented on #140
El comando **romper** nunca se implementó en el código fuente.

[2020-10-04 16:25] MelvinG24 commented on #155
Error solucionado, error en la sintaxis

[2020-10-04 16:25] #155 closed, assigned to MelvinG24

[2020-10-04 18:20] MelvinG24 commented on #144
Latino ya dispone de soporte para valores Hexadecimales, octales, y expresiones científicas al utilizar el comando:
**imprimirf()** o **cadena.formato()**

Comment: 43a196171b8bbb435f2af00562d4b04abce270f8

[2020-10-04 18:36] #144 closed, assigned to MelvinG24

[2020-10-05 22:32] MelvinG24 commented on #157
El error fue solucionado en la versión de Latino 1.2.15 (Disponible en el branch "Dev")

Comment: 98c6d3e336953d49de1068b65bed445c3b60f447

[2020-10-05 22:32] #157 closed, assigned to MelvinG24

[2020-10-06 08:46] MelvinG24 commented on #156
El error ha desaparecido. Este error pudo haber sido corregido en previas actualizaciones al haber corregido algunos de los problemas de memorias que antes se presentaban en Latino.

De igual forma, este error estará cerrado hasta que se vuelva a aparecer.

[2020-10-06 08:46] #156 closed, assigned to MelvinG24

[2020-10-08 04:29] MelvinG24 commented on #154
Estos comandos ya fueron incorporados en Latino 1.2.30 (Disponible en el branch "Dev")

mate.pi()        2f7162aa34f816ad80c0f32fd259f81751dbb74e
mate.base()    8b6a1f25e3b8a05880e9051cfadc6842136296a9
mate.parte()   d9c8a78684d3d5e20777827118070c9238bff040
mate.porc()    e878837c97aaa5f07247e0a3d1f6576049726159
mate.tau()      cc635818f815d304572fcb350263598fb25f4107
mate.e()         49bae4a01cda

[2020-10-08 04:29] #154 closed, assigned to MelvinG24

[2020-10-08 20:58] MelvinG24 commented on #159
El problema ya fue solucionado de igual manera para MS-Windows

Comment: f20ccfa2453020da7dd148e41b1428cd296ea1a0

[2020-10-08 20:58] #159 closed, assigned to MelvinG24

[2020-12-04 04:33] MelvinG24 opened #160 "sis.pipe() Liqueo de memoria en MS-Windows"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [x] <i>Es una falla de memoria (memory leak)</i

[2020-12-04 04:41] MelvinG24 opened #161 "Incorporación de Curses en MS-Windows"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:

Terminar la incorporación de la librería PDCursesMod en Latino para poder utilizar Curses en MS-Windows

<b>Código en donde ocurre</b>:
[code]

[2020-12-04 04:43] MelvinG24 opened #162 "Compilador en Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:

Incorporar un compilador en Latino, para poder compilar los proyectos creados y crear ejecutables en cada sistema operativo.

<b>Código en donde oc

[2020-12-08 07:39] MelvinG24 opened #163 "Mejorar el GC en Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [x] <i>Es una falla de memoria (memory leak)</i

[2020-12-14 20:48] #163 closed, assigned to MelvinG24

[2020-12-22 01:10] MelvinG24 opened #166 "Incorporación de Websocket en Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Incorporar soporte de websocket en Latino.
   - [x] Web-socket de Latino en MS-Windows
   - [x] Web-socket de Latino en macOS
   - [x] Web-socket de

[2020-12-22 01:10] MelvinG24 commented on #166
Incorporador en Windows: 4aa243775415bc3cdd441520a960eba5b395bf53

[2020-12-26 08:47] MelvinG24 opened #167 "Implementación de librería para la base de datos MongoDB"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Librería de Latino para base de datos MongoDB

<b>Código en donde ocurre</b>:
[code]

[2020-12-26 08:49] MelvinG24 opened #168 "Implementación de librería para la base de datos PostgreSQL"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Librería de Latino para base de datos PostgreSQL

<b>Código en donde ocurre</b>:
[code]

[2020-12-26 08:50] MelvinG24 opened #169 "Implementación de librería para la base de datos MariaDB"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Librería de Latino para base de datos Maria DB

<b>Código en donde ocurre</b>:
[code]

[2020-12-26 08:58] MelvinG24 commented on #152
Que tal @StunxFS,

Me disculpo por no haber respondido antes. Estaba mirando tu sugerencia y veo que eso es algo que ya se puede hacer en Latino.

[code]

amenos que no este entendiendo del todo lo que propones si puedes dar otro ejemplo

[2020-12-27 18:36] #124 closed, assigned to MelvinG24

[2020-12-27 18:37] #125 closed, assigned to MelvinG24

[2020-12-27 18:38] #127 closed, assigned to MelvinG24

[2020-12-27 18:39] #128 closed, assigned to MelvinG24

[2020-12-30 00:24] MelvinG24 opened #170 "Comando rango() (Loop)"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
igual al comando range() en python

<b>Código en donde ocurre</b>:
[code]

[2021-01-02 05:03] MelvinG24 opened #172 "Agregar número de versión de sistema operativo"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Agregar función para que Latino pueda obtener el número de versión del sistema operativo.

Compatibilidad con OS:
* [x] MS-Windows
* [x] macOS
* [ ]

[2021-01-02 07:37] MelvinG24 commented on #172
Se ha agregado esta función en MS-Windows:
comment: c3058824ad6811949b1da40277a75235a2883797

[2021-01-02 07:37] MelvinG24 commented on #172
Se ha agregado esta función en macOS
comment: a3d6f7a91cc35bc49481a03f5369390bbcfaecb8

[2021-01-10 20:39] MelvinG24 commented on #166
Incorporador en UNIX: b3eece18a1d1153e1b2f555fc37c7d0e146b1ce4

[2021-01-10 20:39] #166 closed, assigned to MelvinG24

[2021-02-13 23:19] MelvinG24 commented on #170
Se ha incomporado la funcion rango() **Solo numerico**, no variables
309d2364e5c8fe3624d1b88e8206cf318ae6c978

[2021-02-16 19:21] StunxFS commented on #162
O sea, ¿un compilador escrito en Latino que compile scripts al bytecode que interpreta Latino?

[2021-02-21 06:25] gdairo opened #178 "Linking C shared library liblatino.so"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [* ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</

[2021-02-21 21:36] MelvinG24 commented on #178
¿En qué sistema lo estás haciendo?

Ya miraste aquí? https://github.com/MelvinG24/Latino/wiki/¿Cómo-compilar-Latino%3F

Prueba con esto:
rm CMakeCache.txt
cmake .
make
sudo make install

[2021-02-21 21:54] MelvinG24 commented on #140
Se ha agregado el comando **ROMPER** en el comando **MIENTRAS**
commit: c3a2c2479da83d71ccf1eecce4f2517a85041fa0

[2021-02-21 21:55] #152 closed, assigned to MelvinG24

[2021-02-22 15:04] gdairo commented on #178
Hola, estoy usando una derivada de Arch y si ya había leído la
documentación.
OS: Manjaro Linux x86_64
Kernel: 5.9.16-1-MANJARO

El dom, 21 de feb. de 2021 a la(s) 16:37, Melvin_Guerrero (
notifications@github.com) escribió:

[2021-02-22 18:58] MelvinG24 commented on #140
Se ha agregado el comando **ROMPER** en el comando **REPETIR**
commit: 65cfddae498872e1ab934d6749512ebbb8726230

[2021-02-25 05:39] MelvinG24 commented on #178
Al parecer es un problema con el CMake, lamentablemente no estoy familiarizado con esa versión de Linux. En los próximos días lo prueba en mi máquina virtual y miro que es lo que está fallando.

[2021-02-26 17:17] MelvinG24 opened #179 "Propiedades en las variables"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:
Dependiendo del valor que una variable almacene, agregar propiedades a las variables de las librerías internas de Latino.

<b>Código en donde ocurre

[2021-02-28 01:21] MelvinG24 commented on #140
Se ha agregado el comando **ROMPER** en el comando **DESDE**
commit: 0e39ce3c9b1c142b4e1975fe400475f2444e555d

[2021-02-28 12:23] ChannelJuanNews opened #180 "GitHub Patrocinadores? (GitHub Sponsors?)"
### Feature

Seria posible activar GitHub patrocinadores en la organización de lenguaje latino?

[2021-03-06 18:12] MelvinG24 commented on #180
Por supuesto, ya me encargaré de activarlo, muchas gracias por la sugerencia <3

[2021-03-06 19:59] MelvinG24 commented on #140
Se ha agregado el comando **ROMPER** en el comando **PARA**
commit: 36196e727192bc7d62cc2ff94399777a7ed8a377

[2021-03-06 19:59] #140 closed, assigned to MelvinG24

[2021-03-07 18:40] MelvinG24 commented on #178
Buenas Tardes @gdairo,

Te comento que fui capas de compilar latino en Manjaro-linux, solo asegúrate que tienes el sistema actualizado y que tienes los paquetes de DEV instalados.

Prueba con los siguientes comandos antes de instalar latino:

Con eso ya sería suficiente para correr latino en Manjora-linux. Por favor, déjame saber si te funciono, gracias.

![image](https://user-images.githubusercon

[2021-03-14 00:50] MelvinG24 commented on #150
Se ha agregado el comando ("en proceso")
commit: 4beffcfb69a30a709b597e19a90a40b1e1b1a08b

[2021-04-01 00:32] MelvinG24 commented on #150
Se ha agregado el comando romper
Disponible en el repo de latino-core branch dev
commit: 9ca95ab83d00cdbc1f25edb24250502619a6c9ed

[2021-04-01 00:32] #150 closed, assigned to MelvinG24

[2021-04-01 00:37] MelvinG24 commented on #178
Ya se esta trabajando para incorporar Latino en el package manager de Linux, Mac y Windows tales como:
apt-get
pacman
port
brew
choco

[2021-04-01 00:37] #178 closed, assigned to MelvinG24

[2021-04-01 00:38] MelvinG24 commented on #180
Ya se está trabajando para poder recibir donaciones en GitHub, solo se está esperando a finalizar la registración de Latino como fundación

[2021-04-01 00:38] #180 closed, assigned to MelvinG24

[2021-04-11 20:09] Marcelito444 commented on #162
yo tengo un problema porque no puedo ejecutar desde el cmd un archivo .lat . me aparece : "no se reconoce como un comando interno o externo, programa o archivo por lotes ejecutable.".
qué estoy haciendo mal?

[2021-04-13 20:01] Marcelito444 opened #189 "Key press, o -t para que se cierre la ventana de latino"
He instalado el latino pero al ejecutar un archivo .lat desde el explorador de windows, este se ejecuta y se cierra inmediatamente sin poder apreciar el resultado. Se necesita una opción (o quizas ya existe) para que haya un tiempo de espera o una espera de una tecla para que se cierre.
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda

[2021-04-15 23:06] nandahkrishna opened #190 "Request to tag a new release"
(Apologies for opening this issue in English, I do not speak Spanish.)

Could you please tag a new release (perhaps `v1.4.1`)? The `.gitmodules` file was not added in `v1.4.0`, due to which we are unable to build `latino` for [Homebrew](https://brew.sh). Related pull request: Homebrew/homebrew-core#75202. Thank you!

[2021-05-06 17:13] 64sys opened #191 "Instalación en manjaro"
Hola, estoy intentando instlar latino en manjaro pero no funciona.  descargue el .zip de la version 1.4 porque en la "receta" para instalar descargando desde "sudo git clone https://github.com/lenguaje-latino/latino-core" no existe el ./gcc_compilar.sh
Intento:
make
devuelve: *** No se especificó ningún objetivo y no se encontró ningún makefile.  Alto.

Gracias.

[2021-05-06 17:18] 64sys commented on #191
latino-1.4.0]$ sh ./configure
fatal: no es un repositorio git (ni ninguno de los directorios superiores): .git
./configure: línea 2: ./tools/fix: No existe el fichero o el directorio
--
.__          __  .__
|  | _____ _/  |_|__| ____   ____
|  | \__  \   __\   |/    \ /  _ \
|  |__/ __ \|  | |  |   |  (  <_> )
|____(____  /__| |__|___|  /\____/
          \/             \/
-- ......................

[2021-05-08 20:39] primitivorm commented on #191
hola @belmotek, puedes intentar correr el siguiente comando:

`git submodule update --init --recursive`

posteriormente:

[code]

[2021-05-16 02:43] JhairoLug commented on #161
Seria bueno que Latino incorpore Ncurses

[2021-05-20 05:27] jorge2985 opened #194 "No incluye los archivos en el interprete de Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2021-05-20 05:43] jorge2985 commented on #190
Sorry for late reply, I'll send the request to responsible for compilation @primitivorm
Did you check https://github.com/lenguaje-latino/latino-core?

[2021-05-20 05:55] jorge2985 commented on #189
Buenas noches @Marcelito444 ¿Podrás pasarme una captura de lo que te sucede? Tengo entendido que no debiera suceder lo que comentas, o tal vez estoy entendiendo mal.

[2021-05-20 09:30] nandahkrishna commented on #190
Thank you for your response, @jorge2985. Yes, I did take a look at `latino-core` but I didn't raise an issue there. Since we build the whole `latino` project, I thought it would be best to raise the issue here (since it's happening because `1.4.0` doesn't have the `.gitmodules` file).

I'll open an issue there if you think that's a good option.

[2021-05-20 14:09] jorge2985 commented on #190
Hi @nandahkrishna I was referring to the `.gitmodules` file. You can find it in `latino-core`. However I found the file in both places:

- https://github.com/lenguaje-latino/latino/blob/master/.gitmodules
- https://github.com/lenguaje-latino/latino-core/blob/main/.gitmodules

Please let me know if it's what you need.

[2021-05-20 14:24] nandahkrishna commented on #190
@jorge2985 both repositories need their own `.gitmodules` files:

* `lenguaje-latino/latino` for its own submodule (`latino-core` is the submodule).
* `lenguaje-latino/latino-core` requires this for the `latino-regex` submodule.

We need the `.gitmodules` file to be available in a tagged release. In `v1.4.0` (https://github.com/lenguaje-latino/latino/tree/v1.4.0) you can see that there is no `.git

[2021-05-20 15:23] primitivorm commented on #190
Hola @nandahkrishna se ha creado la versión 1.4.1, esperando que con esto se corrija el error

[2021-05-20 15:27] nandahkrishna commented on #190
Gracias, @primitivorm!

[2021-05-20 16:01] nandahkrishna commented on #190
I will close this issue now, and report if there are any other errors. Thank you very much!

(Homebrew PR for `latino 1.4.1` is open: Homebrew/homebrew-core#77686)

[2021-05-20 16:01] #190 closed, assigned to primitivorm

[2021-06-27 00:08] primitivorm commented on #189
hola @Marcelito444 puedes usar la funcion sis.dormir(5) y pasandole el numero de segundos que quieres que se espere o con la funcion leer() la cual espera a que el usuario presione una tecla, ej.

[code]

[2021-06-27 00:08] #189 closed, assigned to primitivorm, jorge2985

[2021-06-27 00:33] jorge2985 opened #196 "No se ve el ícono de Latino"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [X] <i>Icono de Latino no aparece en el ejecutable ni en los archivos</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ]

[2021-07-04 20:26] MelvinG24 commented on #191
Hola @belmotek
Aqui te dejo donde esta resuelto este problema en Manjaro Linux.
link aqui:
https://github.com/lenguaje-latino/latino/issues/178#issuecomment-792331008

[2021-08-08 22:34] MelvinG24 commented on #194
Acabo de probar el codigo que compartiste y funciona perfectamente sin errores, con o sin comentar las lineas 35-37.

Por otro lado, estoy mirando que en tu captura veo que escribiste incluir("obj"), estas haciendo un modulo? si ese es el caso tienes que esportar las funciones que deseas usar del modulo. En la documentacion ya lo deja explicado, aqui te comparto

https://manual.lenguajelatino.org/

[2021-08-08 22:38] MelvinG24 commented on #196
Tiene que anexar el archivo de resource.ms a la solucion de VS en Windows antes de compilar.

El archivo de resource.ms  se encuentra en "latino/latino-core/src/vs_resources"

[2021-08-12 18:01] MelvinG24 commented on #191
Este post al ser un duplicado y estar inactivo se procede a ser cerrado. Si en caso que el error no se alla solucionado este sera re-abierto.

[2021-08-12 18:01] #191 closed, assigned to primitivorm, MelvinG24

[2021-08-15 01:04] jorge2985 commented on #196
Me refiero a Latino después de instalarlo, sin que se tenga que compilar. A menos que se tenga que hacer previo a la creación del instalador.

[2021-08-15 01:05] jorge2985 commented on #194
Ya lo probamos con Primitivo y tampoco funciona con exportar el módulo. Es un problema del interprete.

[2021-08-15 01:42] MelvinG24 commented on #196
Eso se asigna al momento de compilar, no de otra manera. El fallo esta solucionado en el latino-core

[2021-08-15 01:42] #196 closed, assigned to primitivorm

[2021-08-26 08:57] MelvinG24 commented on #194
si puedes compartir el codigo completo para asi poder revisarlo

[2021-11-24 05:17] jorge2985 opened #200 "Error en ciclo condicional"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [x] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-01-14 17:09] pasterdeucris commented on #162
mira bien el PATH o las variables de entorno

[2022-03-19 22:04] MarcoTab opened #202 "Segmentation Fault en for loop"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [X] <i>Es una falla de memoria (memory leak)</i

[2022-05-16 14:42] Baelfire18 opened #204 "Lector de archivos .env"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Solamente busco ayuda u orientación</i>.
* [x] <i>Sugerencia para Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:

Hola! Estoy creando una documentación para poder leer archvios `.env` en disntintos lengaujes de programación y tipos de archivos. [La pueden encon

[2022-06-04 00:07] nzkdevsaider opened #205 "El instalador me obliga a cerrar todos los programas que tengo abierto"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [x] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-06-19 02:53] MelvinG24 commented on #205
Le estaremos dando seguimiento a tu asunto, ahora reviso el código del instalador aver que pasa

[2022-06-19 02:56] MelvinG24 commented on #204
Latino por el momento no dispone de un instalador de paquetes pero si tiene una libreria de websocket a la que puedes requerir data de otros archivos.

Aquí te dejo el repo
https://github.com/lenguaje-latino/Latino-WebSocket

[2022-06-19 02:59] MelvinG24 commented on #202
el comando `para en rango` solo admite valores numéricos y/o variables, pero no expresiones. No es un error, así esta creado

[2022-06-19 02:59] MelvinG24 commented on #202
en vista de que esto no es un error, paso a cerrar el Issue

[2022-06-19 02:59] #202 closed, assigned to MelvinG24

[2022-06-26 14:15] Z4mbr4 opened #206 "Extension para vscode en Ubuntu 20.04 no inicia"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.

`no escribir en esta área y marcarlo al completar el issue.`

<b>Más detalles</b>:

[2022-08-13 00:56] ulf-frostypaw opened #207 "Archivo no encontrado: latobj.h"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ - ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)<

[2022-08-18 03:05] FrkL81 opened #208 "sis.iraxy() solo funciona 2 veces dentro de un ciclo mientras."
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-08-18 03:11] FrkL81 commented on #208
El código debe escribir los números del 1 al 99 controlando la posición de de las filas y las columnas. Se deben generar 4 filas, sin embargo, solo se generan las 2 primeras de forma correcta hasta el numero 50 y de ahí en delante los números se imprimen uno debajo del otro en la primera columna de la consola.

[2022-08-22 18:38] FrkL81 commented on #208
Saludos, me acabo de percatar de que el error **Solo Ocurre En el Terminal Integrado de Visual Studio Code.**
Si se ejecuta en una terminal externa **Funciona bien.**

GRACIAS por este genial lenguaje de programación.

[2022-09-22 04:43] FrkL81 opened #209 "Falta de aleatoriedad en mate.aleatorio( )"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-09-22 05:26] FrkL81 commented on #200
No es un error. <---------

El manual de Latino dice que: Esta condicional **_ejecuta su bloque de código al menos una vez_** antes de verificar si su condición es cumplida.

Por lo cual un contador dentro del ciclo siempre sumará su incremento por lo menos una vez. De hecho, si mueves tu instrucción imprimir(x) dentro del ciclo se puede ver como se imprimen los números del 1 al 10 ó del 2 al 11 d

[2022-10-05 20:56] guizans opened #210 "Variable indefinida"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-10-13 14:07] FrkL81 opened #211 "Error al invocar Función dentro de un ciclo."
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [ ] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-10-20 20:07] guizans opened #212 "Pila vacia"
### Reportando bug
`no escribir en esta área y marcarlo al completar el issue.`

* [ ] <i>Error global, no me deja correr Latino</i>.
* [ ] <i>El error ocurre en una palabra reservada. Por ejemplo: `si` `osi` `sino` (escribir la palabra reservada en detalles)</i>.
* [x] <i>Es un error en una función específica (escribir la función en detalles)</i>.
* [ ] <i>Es una falla de memoria (memory leak)</i

[2022-10-22 09:55] FrkL81 commented on #212
Hola guizans,

Yo utilizo Windows y me ocurre igual. Sin embargo, el error ocurre creo, por tu elección del ciclo "repetir --- hasta".  El manual de latino dice que:

_Si no se incrementa el valor de una variable contadora este bucle se repetiría infinitamente sin parar, produciendo un error en la memoria._

Por lo que entiendo que la condición debe comprobarse contra un contador.

Quizás utilizan

[2022-10-22 13:20] guizans commented on #212
Hola FrkL81

 Tu código es una opción para salvar el escollo. Pero creo que si que es un bug, ya que a pesar de no tener un contador, por lo menos tendría que hacer un bucle, ya que como tu dices que aparece en la documentación: _Si no se incrementa el valor de una variable contadora este bucle se repetirá sin parar_ y este no es el caso, ya que solo se repite una vez. Eso y si ejecutas el código

[2022-10-26 13:37] MelvinG24 commented on #212
@guizans, el problema es que estas comparando una variable a la cual no estas declarado antes de la funcion sino que dentro de la funcion... Trata con declarar la variable y antes de entrar al loop

[2022-10-26 13:46] MelvinG24 commented on #211
Ahora mismo el problema que estoy viendo es la `variable i`, des-afortunadamente, Latino no tiene limites de alcance en sus variables, por lo tanto cuando declaras la variable i dentro del loop desde, es la misma i dentro de la función miFuncion1... eso es un problema que llevo un tiempo tratando de solucionar, pero aun sin éxito, mi consejo es que cambies el nombre de la variable i en la función

[2022-10-26 17:14] guizans commented on #212
Hola MelvinG24.
[code]
Pues lo he probado así y me da el mismo error. El problema creo que es la asignación de la función leer(), ya que el primer imprimir(x) me da falso y da igual lo que introduzca por teclado. Y el segundo imprimir(y) me pone que es nulo, ya que 'x' no tiene nada dentro y no puede hacer una conversión, y es normal que el bucle de error, ya que la variable 'y' está vacia.

Un sa

[2022-10-31 13:41] FrkL81 commented on #212
Saludos MelvinG24, guizans,

Ahora creo que el análisis de @guizans es correcto. En la respuesta que me redactó anteriormente está el punto donde ocurre el error, que es al tratar de asignar a la variable x un valor desde la consola. Al parecer no se puede hacer esto correctamente dentro del Loop -repetir ... hasta-

[code]

Al sacar la asignación fuera del Loop, si se introduce un valor distinto

[2022-11-02 21:02] guizans commented on #212
Hola FrkL81

He estado probando el código tal como lo has publicado, pero en tú código hay un problema que es lógico, ya que la variable x e y son una cadena de carácteres y por lo tanto el bucle da el error esperado. Hasta ahí todo correcto. Pero si haces como en el código original, que llamo a la función anumero() para hacer la conversión de una cadena de caracteres a una variable numérica, la f

[2022-11-23 19:25] FrkL81 commented on #212
Hola guizans,

Si, veo lo que dices, sin embargo, ese error debe ser provocado por algo diferente al tipo de dato. Si te fijas en el primer código que escribí en este hilo de comentarios, hice una comparación de una variable introducida por consola en tiempo de ejecución, con otra numérica escrita en el código sin hacer una conversión del tipo de dato y funciona.

No he comprobado en la documentac

[2022-11-24 22:44] Lorucino93 commented on #210
No sé si puede ayudar, pero yo tengo el mismo fallo. La forma que uso para solucionarlo en vez de usar incluir() leo el módulo con la librería de archivo.leer() y luego cojo la cadena resultante y la ejecuto con cadena.ejecutar(). Tu ejecutable quedaría de la forma:

m = cadena.ejecutar(archivo.leer("moduloPersona.lat"))

m.inicio()

[2022-11-27 20:42] guizans commented on #210
Hola Lorucino93

Pues tiene toda la razón del mundo. Funciona. Es una solución hasta que arreglen el fallo.

Muchas gracias.

[2022-11-27 20:50] guizans commented on #212
Hola FrkL81

 Si, veo que Latino es un lenguaje dinámicamente tipado, lo cual lo vuelve fácil. Me he dado cuenta en mi código que la función anumero() se puede precindir de ella. Pero el error persiste.

Un saludo.